@model Events.Models.Shindig

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Shindig</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShindigID" />
            <div class="form-group">
                <label asp-for="DateOfEvent" class="control-label"></label>
                <input asp-for="DateOfEvent" class="form-control" />
                <span asp-validation-for="DateOfEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Openings" class="control-label"></label>
                <input asp-for="Openings" class="form-control" />
                <span asp-validation-for="Openings" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="AvailableSpots" class="control-label"></label>
                <input asp-for="AvailableSpots" class="form-control" />
                <span asp-validation-for="AvailableSpots" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="ShindigName" class="control-label"></label>
                <input asp-for="ShindigName" class="form-control" />
                <span asp-validation-for="ShindigName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShindigType" class="control-label"></label>
                <input asp-for="ShindigType" class="form-control" />
                <span asp-validation-for="ShindigType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShindigDescription" class="control-label"></label>
                <input asp-for="ShindigDescription" class="form-control" />
                <span asp-validation-for="ShindigDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="interestID" class="control-label"></label>
                <select asp-for="interestID" class="form-control" asp-items="@(new SelectList(ViewBag.Interests,"InterestID","InterestName"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="GroupID" class="control-label"></label>
                <select asp-for="GroupID" class="form-control" asp-items="@(new SelectList(ViewBag.Groups,"GroupID","GroupName"))"></select>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="InPersonOnly" /> @Html.DisplayNameFor(model => model.InPersonOnly)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
